@import "./../../node_modules/bootstrap/scss/bootstrap";
@import "./../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./../../vendor/owl/scss/owl.carousel.scss";
@import './../../vendor/jquery-ui/jquery-ui.css';


$font-family: 'Roboto', sans-serif;


// Paleta de cores
$color-01: #227C9D;
$color-02: #17C3B2;
$color-03: #FFCB77;
$color-04: #FEF9EF;
$color-05: #FE6D73;


// Tamanho das fontes
$tam-1 :1rem;
$tam-2: 1.5rem;
$tam-3: 2rem;
$tam-4: 3rem;

